{% extends 'base.html' %}

{% block head %}
<title>Clínica Geral</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block body %}
<header class="header">
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='image/home/logo_clinica.png') }}" alt="Logo da Clínica Geral" class="logo" />
        </div>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('homePage') }}">Início</a></li>
                <li><a href="{{ url_for('cadastroPage') }}">Cadastrar Paciente</a></li>
                <li><a href="#listar">Listar Pacientes</a></li>
                <li><a href="#chamar">Chamar Paciente</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="hero">
        <img src="{{ url_for('static', filename='image/home/bem_vindo.png') }}" alt="Bem-vindo" class="welcome-image" />
    </section>

<section id="listar" class="listar-pacientes">
    <h2>Pacientes Cadastrados</h2>
    {% if pacientes %}
    <div class="table-container">
        <table class="paciente-tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Triagem</th>
                    <th>Senha</th>
                    <th>Especialidade</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.name }}</td>
                    <td>{{ paciente.type }}</td>
                    <td>{{ paciente.triage }}</td>
                    <td>{{ paciente.password }}</td>
                    <td>{{ paciente.specialty }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p style="text-align:center;">Nenhum paciente cadastrado.</p>
    {% endif %}
</section>


<section id="chamar" class="chamar-paciente">
    <h2>Chamar Próximo Paciente</h2>
    <div class="chamar-botoes">
        {% for esp in especialidades %}
            <form method="get" action="{{ url_for('chamarPaciente', especialidade=esp) }}">
                <button type="submit" class="chamar-btn">{{ esp }}</button>
            </form>
        {% endfor %}
    </div>
</section>

</main>
{% endblock %}
