{% extends 'base.html' %}

{% block head %}
<title>Clínica Geral</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/listar.css') }}" />
{% endblock %}


{% block body %}

<header class="header">
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='image/home/logo_clinica.png') }}" alt="Logo da Clínica Geral" class="logo" />
        </div>
        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('homePage') }}">Início</a></li>
                <li><a href="{{ url_for('cadastroPage') }}">Cadastrar Paciente</a></li>
                <li><a href="{{ url_for('listarPage') }}">Listar Pacientes</a></li>
                <li><a href="{{ url_for('painelChamada') }}" target ="_blank">Chamar Paciente</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="hero">
    </section>

<section id="listar" class="listar-pacientes">
    <h2>Pacientes Cadastrados</h2>
    {% if pacientes %}
    <div class="table-container">
        <table class="paciente-tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Triagem</th>
                    <th>Senha</th>
                    <th>Especialidade</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.name }}</td>
                    <td>{{ paciente.type }}</td>
                    <td>{{ paciente.triage }}</td>
                    <td>{{ paciente.password }}</td>
                    <td>{{ paciente.specialty }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p style="text-align:center;">Nenhum paciente cadastrado.</p>
    {% endif %}
</section>


{% endblock %}