{% extends 'base.html' %}

{% block head %}
<title>Clínica Geral - Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}

{% block body %}
<div class="container">
    <img src="{{ url_for('static', filename='image/login/logo_branca_clinica.png') }}" alt="logo da clínica" class="logo" />
    
    <div class="login-card">
        <h2>Login</h2>
        <form action="{{ url_for('loginPage') }}" method="post">
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required />
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required />
            </div>

            <button type="submit">Entrar</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}
