<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Geral</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/home.css')}}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-container">
                <img src="{{url_for('static', filename = 'image/home/logo_clinica.png')}}" alt="Logo da Clínica Geral" class="logo">
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#cadastrar">Cadastrar Paciente</a></li>
                    <li><a href="#listar">Listar Pacientes</a></li>
                    <li><a href="#chamar">Chamar Paciente</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <img src="{{url_for('static', filename = 'image/home/bem_vindo.png')}}" alt="Bem-vindo" class="welcome-image">
        </section>
    </main>
</body>
</html> 