{%extends 'base.html' %}

{% block head %} 
<title>Clínica Geral</title>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/home.css')}}">
{% endblock %}

{% block body %} 
    <header class="header">
        <div class="container">
            <div class="logo-container">
                <img src="{{url_for('static', filename = 'image/home/logo_clinica.png')}}" alt="Logo da Clínica Geral" class="logo">
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="{{url_for('homePage')}}">Inicio</a></li>
                    <li><a href="{{url_for('cadastroPage')}}">Cadastrar Paciente</a></li>
                    <li><a href="#listar">Listar Pacientes</a></li>
                    <li><a href="#chamar">Chamar Paciente</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <img src="{{url_for('static', filename = 'image/home/bem_vindo.png')}}" alt="Bem-vindo" class="welcome-image">
        </section>
    </main>
{% endblock %}